@model IEnumerable<VirtualCompanion.Core.Entities.Pet>

<h1>Pets</h1>

<table class="table">
    <thead>
        <tr>
            <th>Owner ID</th>
            <th>Name</th>
            <th>Health</th>
            <th>Experience</th>
            <th>Energy</th>
            <th>Mood</th>
            <th>Hunger</th>
            <th>Hygiene</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var pet in Model)
    {
        <tr>
            <td>@pet.OwnerId</td>
            <td>@pet.Name</td>
            <td>@pet.Health</td>
            <td>@pet.Experience</td>
            <td>@pet.Energy</td>
            <td>@pet.Mood</td>
            <td>@pet.Hunger</td>
            <td>@pet.Hygiene</td>
        </tr>
    }
    </tbody>
</table>
