@model VirtualCompanion.Models.PetListViewModel

@{ViewData["Title"] = $"My Pets ({Model.Pets.Count})";}

<table class="table table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Health</th>
            <th>Experience</th>
            <th>Energy</th>
            <th>Mood</th>
            <th>Hunger</th>
            <th>Hygiene</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var pet in Model.Pets)
            {
                <tr>
                    <td scope="col">@pet.Name</td>
                    <td>@pet.Health</td>
                    <td>@pet.Experience</td>
                    <td>@pet.Energy</td>
                    <td>@pet.Mood</td>
                    <td>@pet.Hunger</td>
                    <td>@pet.Hygiene</td>
                </tr>
            }
    </tbody>
</table>
